exactextract
cartopy
contextily
dask[complete]
daskgeopandas
daskml
earthpy
fiona
folium
geopandas
geoplot
geoviews
geopy
gettext
glum
h5py
ipython
jupyter
jupyterlab
lz4
matplotlib
netcdf4
numpy
osmnx
pandas
pip
planetarycomputer
pyarrow
pycrs
pyproj
pyreadstat
pysal
pystacclient
pystac
python>=3.11
pytorch
rasterio
rasterstats
rioxarray
scikitimage
scikitlearn
scipy
seaborn
shapely
stackstac
statsmodels
stacvrt
tqdm
torchvision
torchgeo
wget
xarray